* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(207, 128, 91);
}
.parentnavbar {
  width: 99%;
  height: 70px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: blanchedalmond;

  justify-content: space-between;
  margin: 5px;
}
.navbar {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 35px;
  padding-right: 100px;
  padding-top: 10px;
  margin-left: 20px;
}
.navbar:hover {
  color: purple;
  cursor: pointer;
  text-shadow: 0px 0px 12px 4px black;
}
.avatar {
  justify-content: flex-end;
  padding-right: 0px;
  padding-top: 15px;
  padding-right: 10px;
}
.avatar img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
.avatar:hover {
  cursor: pointer;
}
.section1 {
  display: flex;
}
.About {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 400px;
  width: 99%;
  margin: 5px;
}
.Image {
  width: 25%;
  height: 400px;
}
.Image img {
  border: 2px solid purple;

  width: 100%;
  height: 400px;
}
.Image:hover {
  cursor: pointer;

  box-shadow: 0px 0px 12px 4px purple;
}
.paragraph {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  background-color: lemonchiffon;
  border: 2px solid black;
  padding-left: 8px;
  width: 75%;
  height: 400px;
}
.paragraph:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px 4px purple;
}
.Experience {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 99%;
  height: 300px;
  margin: 5px;
}
.Experience fieldset {
  border: 2px solid black;
  width: 100%;
  background-color: lemonchiffon;
}
.Experience legend {
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: black;
  text-align: center;
}
.Experience fieldset:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px 4px purple;
}
.About a:hover {
  text-shadow: 0px 0px 12px 4px purple;
}
.skill1 {
  border: 2px solid purple;
  border-radius: 10px;
  padding: 5px;
}

.skill1:hover {
  border: 2px solid purple;
  box-shadow: 0px 0px 12px 4px purple;
  cursor: pointer;
  background-color: purple;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.skill1 a:hover {
  border: 2px solid purple;
  box-shadow: 0px 0px 12px 4px purple;
  cursor: pointer;
  background-color: purple;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.Education {
  margin-top: 220px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 99%;
  justify-content: space-between;
  margin-left: 4px;
  margin-bottom: 20px;
}
.Education fieldset {
  border: 2px solid black;
  width: 100%;
  background-color: lemonchiffon;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.Education legend {
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: black;
  text-align: center;
}
.Education fieldset:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px 4px purple;
}
.Project {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 99%;
  height: 400px;
  justify-content: space-between;
  margin-left: 4px;
  margin-bottom: 20px;
}
.Project fieldset {
  border: 2px solid black;
  width: 100%;
  background-color: lemonchiffon;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.Project legend {
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: black;
  text-align: center;
}
.Project fieldset:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px 4px purple;
}
.Project1 {
  height: 320px;
  border: 2px solid black;
  background-color: rgb(114, 114, 203);
  margin-left: 6px;
}
.Project1 img {
  border-bottom: 1px solid black;
  height: 70%;
}
.Project1:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px 4px purple;
}

.Project2 {
  height: 320px;
  border: 2px solid black;
  background-color: rgb(114, 114, 203);
  margin-left: 6px;
}
.Project2 img {
  border-bottom: 1px solid black;
  height: 70%;
}
.Project2:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px 4px purple;
}
.Project3 {
  height: 320px;
  border: 2px solid black;
  background-color: rgb(114, 114, 203);
  margin-left: 6px;
}
.Project3 img {
  border-bottom: 1px solid black;
  height: 70%;
}
.Project3:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px 4px purple;
}
footer {
  width: 100%;
  height: 60px;
  background-color: black;
  margin-bottom: 4px;
  margin-left: 4px;
  color: aliceblue;
  text-align: center;
  padding: 10px;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.Education img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px 4px purple;
}

@media screen and (max-width: 500px) {
  .About {
    height: 800px;
    width: 100%;
  }
  .Image {
    width: 100%;
  }
  .Image img {
    width: 100%;
  }
  .paragraph {
    margin-bottom: 200px;
    width: auto;
  }
  .Experience {
    height: 440px;
  }

  .section1 {
    width: 200px;
    overflow: hidden;
  }
  .parentnavbar {
    width: 100%;
  }
  .Edu {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .School {
    width: 100%;
  }
  .Project {
    height: 1120px;
  }
  .fieldset {
    width: 40%;
    height: 1100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer {
    height: 120px;
  }
  .field {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}
